*

!/JKBD_script
!/JKBD_script/Pages
!/NBS_script
!/NBS_script/Pages
!/Common/poium_driver
!/Common/web_ui_driver
!/Input
!/Common
!/Common/history
!/Input/VBA_tools
!/Input/VBA_tools/LAS td gentor
!/Input/VBA_tools/LAS td gentor/Test_plans
!/Swag_Labs_script
!/Swag_Labs_script/Pages
!/CoffeeScript
!/CoffeeScript/Pages
!/script
!/script/Pages

!Readme.md
!*.feature
!*.xls*
!*.py
!*.bat
!.gitignore
!.gitkeep
!requirements.txt
!*.yml
!lunch_uiauto.cmd
!Jenkinsfile
!Azure_release_pipline.json